#####Configuration file of OpenPWA
#####Author: Kun Liu, liuk@ihep.ac.cn
#####Created: 2010.11.1

#####NOTE: use # and only # to start a comment line 

#####Basic settings 
#Total number of events
nEvent = 736

#Number of events used for MC integral
nMcEvent = 70386

#Total number of parameters involved
nParameters = 12

#Total number of partial waves added
nPartialWaves = 4

#For input files (this and below), both relative path and full path is supported
#But full path is recommended to avoid potential stupid errors (not yours, ours)
#Environment variables are also supported

#Input file of parameter definition 
ParaInput = input/paraFDC.inp

#Input file of FUN value pre-calculated for MC integral
MCIntegralFUN = input/funFDC.dat

#Input file of FUNALL value pre-calculated for every event of data
DataFUNALL = input/funallFDC.dat 

#Some internal control values, don't change if there are no strong reasons

#step size for numerical gradients of dPa(i,j)/dPar(k)
StepSize = 1E-2

#The following variables defined the fit process
#This part is used as external controls, not necessary for OpenPWA itself

#Seed for parameter randomization
seed = 1

#Number of optimization iterations
nIteration = 100 

#Controls of fitter
MaxFunctionCalls = 1E9
MaxIterations = 300
Tolerance = 0.1
PrintLevel = 0

#Following part are for controls of OpenCL
#The optimum configurations is basically experimental

#Switch of OpenCL, required by both OpenPWA and minimizer
#Do swich it off if only CPU is used, simply initialize the CL requires extra resources
Enable_CL = No

#Local size of the workgroup
#It MUST be a power of 2, for programming reasons
LocalSize = 4

#Pre-fold factor is the number of events which are summed in sequential manner on each work item.
#It SHOULD be a small number to balance between the parallelism and keeping busy core as many as possible.
PreFold = 1

##Interface for FDC
Enable_FDC = Yes
 



